@font-face {
  font-family: "newtown";
  src: url("../styles/NEWTOWBI.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.loader img {
  width: 100px;
  height: 100px;
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
  height: 95px;
  margin: 0 auto;
  font-family: "newtown", sans-serif;
  max-width: 1200px;
}

.navbar .nav {
  display: none;
}

.navbar .burger {
  height: 99%;
  width: 100%;
  -webkit-box-shadow: 0 2px 6px 1px black;
          box-shadow: 0 2px 6px 1px black;
}

.navbar .burger #logo {
  height: 94px;
  width: 100vw;
}

.navbar .burger .burger-head-link {
  color: white;
  position: relative;
  display: none;
  left: 80px;
  top: -70px;
  font-weight: 500;
  width: 200px;
  text-transform: uppercase;
}

.navbar .burger .burger-head-link #first {
  font-size: 30px;
}

.navbar .burger .burger-head-link #second {
  font-size: 24px;
  position: relative;
  top: -5px;
}

.navbar .burger .burger-button-wrapper-opened {
  display: none;
}

.navbar .burger .burger-button-wrapper-closed {
  padding: 10px;
  margin-right: 2vw;
  float: right;
  -webkit-box-shadow: inset -1px 4px 5px -3px #000000;
          box-shadow: inset -1px 4px 5px -3px #000000;
  height: 15px;
  width: 65px;
  border-radius: 0 0 10px 10px;
}

.navbar .burger .burger-button-wrapper-closed p {
  font-family: "newtown", sans-serif;
  color: #e1251b;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 13px;
}

.navbar .burger .burger-button-wrapper-closed .burger-button {
  height: 25px;
  width: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 45px;
  top: -15px;
}

.navbar .burger .hidden-style {
  left: 0px;
  position: fixed;
  top: -50vh;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: visible;
  height: 50vh;
}

.navbar .burger .hidden-style .burger-visible-button-wrapper {
  display: none;
}

.navbar .burger .hidden-style ul {
  display: none;
}

.navbar .burger .hidden-style ul li {
  display: none;
}

.navbar .burger .visible-style {
  left: 0;
  position: fixed;
  top: 94px;
  width: 100vw;
  height: 66vh;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
  background-image: url("gb-menu-logo.png");
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 10px;
  background-position-y: -66px;
  background-position-x: -295px;
  background-repeat: no-repeat;
  background-size: 700px;
  -webkit-box-shadow: inset -1px 6px 5px -3px #000000;
          box-shadow: inset -1px 6px 5px -3px #000000;
  z-index: 10;
}

.navbar .burger .visible-style .burger-visible-button-wrapper {
  position: relative;
  display: block;
  height: 35px;
  width: 85px;
  float: right;
  top: -55vh;
}

.navbar .burger .visible-style .burger-visible-button-wrapper img {
  height: 25px;
  width: 25px;
  padding: 10px 15px 2px 45px;
  float: right;
}

.navbar .burger .visible-style ul {
  display: block;
  height: 50vh;
  position: relative;
  width: 100%;
  padding: 15px 0;
}

.navbar .burger .visible-style ul li:first-of-type {
  font-size: 1.25em;
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 15px;
}

.navbar .burger .visible-style ul li {
  list-style-type: none;
  display: block;
  float: none;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  width: 90%;
  margin: 5px auto;
  height: 36px;
}

.navbar .burger .visible-style ul li a {
  text-transform: uppercase;
  padding: 15px;
  padding-right: 0;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.navbar .burger .visible-style ul li a:active {
  color: #e1251b;
}

.o-nas {
  width: 100vw;
  max-width: 1200px;
  font-family: monospace;
  margin: 0 auto;
}

.o-nas .vinicius {
  margin: 3vh auto;
  max-width: 1200px;
  width: 80vw;
}

.o-nas .vinicius .large h2 {
  margin: 6vh 0 3vh 0;
  text-align: center;
}

.o-nas .vinicius h3 {
  margin: 2vh 0;
  text-align: center;
}

.o-nas .vinicius p {
  margin-top: 2vh;
}

.o-nas .vinicius .small {
  width: 100%;
  margin: 2vh 0;
}

.o-nas .vinicius .large {
  display: none;
}

.o-nas .vinicius ul {
  margin-top: 1vh;
}

.o-nas .vinicius ul li {
  margin-top: 1vh;
}

.o-nas .rules {
  margin: 3vh auto;
  width: 80vw;
  max-width: 1200px;
}

.o-nas .rules h2 {
  text-align: center;
}

.o-nas .rules h4 {
  margin: 2vh 0;
}

.o-nas .rules h3 {
  text-align: center;
  margin: 3vh 0;
}

.o-nas .rules ol li {
  margin-top: 3vh;
}

.o-nas .rules ol li .bold {
  font-weight: 650px;
}

.o-nas .tournaments {
  margin: 3vh auto;
  width: 80vw;
  max-width: 1200px;
}

.o-nas .tournaments img {
  width: 90%;
  margin-top: 2vh;
  margin-left: auto;
  max-width: 1100px;
  margin-right: auto;
  display: block;
}

.o-nas .tournaments h2 {
  text-align: center;
}

.o-nas .tournaments p {
  padding-top: 10px;
}

.o-nas .tournaments .bold {
  font-weight: 650;
}

.o-nas .tournaments .year {
  margin: 2vh 3vw;
}

.o-nas .tournaments .grey {
  background-color: #f8f8ff;
}

.webmaster-page {
  padding-bottom: 5vh;
  max-width: 1200px;
}

.webmaster-page h2 {
  margin: 10vh 0 5vh 0;
  text-align: center;
}

.webmaster-page p {
  text-align: center;
  padding: 1vh 5vw;
}

.webmaster-page .webmaster-form {
  margin-top: 10px;
  padding: 0 5vw;
}

.webmaster-page .webmaster-form .form-error {
  padding: 0;
}

.webmaster-page .webmaster-form label {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.webmaster-page .webmaster-form input {
  margin: 5px auto;
  width: 90vw;
  height: 30px;
  text-align: center;
  font-size: 20px;
}

.webmaster-page .webmaster-form input option {
  text-align: center;
}

.webmaster-page .webmaster-form .notes {
  height: 60px;
  text-align: left;
  font-size: 15px;
}

.webmaster-page .webmaster-form .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.webmaster-page .webmaster-form .buttonWrapper {
  width: 100%;
  text-align: center;
}

.webmaster-page .webmaster-form .buttonWrapper button {
  height: 50px;
  width: 50vw;
  margin: 15px;
  color: #e1251b;
  background-color: #3b8beb;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
          box-shadow: 4px 3px 5px 1px #000;
}

.four-o-four {
  min-height: 70vh;
  width: 80vw;
  font-size: 25px;
  margin: 15vh auto;
  max-width: 1200px;
}

.four-o-four h2 {
  margin-bottom: 5vh;
}

.four-o-four P {
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2rem;
}

.four-o-four P a {
  text-decoration: none;
  font-size: 20px;
  text-decoration: underline;
  font-family: "newtown", sans-serif;
}

.pobocky-view {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.pobocky-view .single-pobocka {
  width: 100%;
  min-height: 1vh;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 3vh;
}

.pobocky-view .single-pobocka h2 {
  padding-top: 10px;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  font-size: 21px;
}

.pobocky-view .single-pobocka p {
  margin: 1vh 1vw;
  font-family: monospace;
}

.pobocky-view .single-pobocka button {
  height: 30px;
  width: 35vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f8ff;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  margin-top: 1vh;
  -webkit-box-shadow: 4px 3px 5px 1px #888585;
          box-shadow: 4px 3px 5px 1px #888585;
  color: black;
}

.pobocky-view .single-pobocka button:first-of-type {
  -webkit-box-shadow: 0px 2px 2px 1px #888585;
          box-shadow: 0px 2px 2px 1px #888585;
}

.pobocky-view div:first-of-type {
  padding-top: 4vh;
}

.pobocky-view div:nth-of-type(2n) {
  background-color: #f8f8ff;
}

.pobocky-view div:nth-of-type(2n) button {
  background-color: white;
}

.pobocky-view div:last-of-type {
  border: none;
  padding-bottom: 4vh;
}

.pobocka-details {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0;
}

.pobocka-details .pobocka-header {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
}

.pobocka-details .pobocka-header .pobocka-header-sports {
  display: none;
}

.pobocka-details .pobocka-header .pobocka-header-sports p {
  display: inline-block;
  text-decoration: underline;
  position: relative;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.pobocka-details .pobocka-header h1 {
  font-size: 22px;
  padding-top: 15%;
  text-align: center;
  color: white;
}

.pobocka-details .pobocka-info {
  min-height: 20vh;
}

.pobocka-details .pobocka-info {
  text-align: center;
  height: 20vh;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 5vh;
  padding-top: 5vh;
  background-color: #f8f8ff;
}

.pobocka-details .pobocka-info h3 {
  font-size: 18px;
  margin-bottom: 2vh;
}

.pobocka-details .pobocka-info p {
  margin-bottom: 1vh;
}

.kurzy {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.kurzy .single-kurz {
  width: 100%;
  min-height: 1vh;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 3vh;
  background-color: linear-gradient(to right, rgba(255, 255, 255, 0.5), white), url(/static/media/kettlebell1.1145d8bc.jpg);
  background-size: 36vw;
  background-repeat: no-repeat;
}

.kurzy .single-kurz h2 {
  padding-top: 10px;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.kurzy .single-kurz h2 a {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  min-width: 50vw;
  color: white;
  font-size: 21px;
  font-family: "newtown", sans-serif;
  text-decoration: none;
}

.kurzy .single-kurz p {
  margin: 1vh 1vw;
  font-family: monospace;
}

.kurzy .single-kurz button {
  height: 30px;
  width: 35vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f8ff;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  margin-top: 1vh;
  -webkit-box-shadow: 4px 3px 5px 1px #888585;
          box-shadow: 4px 3px 5px 1px #888585;
}

.kurzy .single-kurz button a {
  color: black;
}

.kurzy .single-kurz button:first-of-type {
  -webkit-box-shadow: 0px 2px 2px 1px #888585;
          box-shadow: 0px 2px 2px 1px #888585;
}

.kurzy div:first-of-type {
  padding-top: 4vh;
}

.kurzy div:nth-of-type(2n) {
  background-color: #f8f8ff;
}

.kurzy div:nth-of-type(2n) button {
  background-color: white;
}

.kurzy div:last-of-type {
  border: none;
  padding-bottom: 4vh;
}

.kurzy .kurz-content {
  width: 100vw;
  height: 100vw;
}

.sport-details {
  max-width: 1200px;
  padding: 0 5px;
}

.sport-details .ready-slider {
  margin-top: 5vh;
}

.sport-details ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -25vh;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5;
  color: white;
}

.sport-details ul li {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.1rem;
  padding: 5px 10px;
  text-transform: uppercase;
}

.sport-details h2 {
  margin: 2vh auto;
  text-align: center;
  position: relative;
  top: -23vh;
  color: white;
  z-index: 5;
}

.sport-details .ps {
  position: relative;
  top: -10vh;
  margin-bottom: 5vh;
}

.sport-details .ps p {
  padding: 0 5vw;
  margin: 3vh auto;
}

.sport-details .ps .singleImg {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}

.sport-details .ps h3 {
  width: 90vw;
  text-align: center;
  margin-bottom: 2vh;
}

.chci-zacit {
  width: 80vw;
  min-height: 70vh;
  text-align: center;
  margin: 1vh auto;
  padding-top: 4vh;
  padding-bottom: 3vh;
  max-width: 1200px;
}

.chci-zacit .buttonWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
}

.chci-zacit .buttonWrapper button {
  height: 50px;
  width: 50vw;
  margin: 15px;
  color: #e1251b;
  background-color: #f8f8ff;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
          box-shadow: 4px 3px 5px 1px #000;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-transform: uppercase;
}

.chci-zacit .single-faq h3 {
  margin: 1vh 0;
  font-size: 17px;
}

.chci-zacit .single-faq h3:first-of-type {
  margin-top: 4vh;
}

.chci-zacit .single-faq p {
  margin-bottom: 3vh;
}

.registrace {
  margin-top: 10px;
  padding: 10vw 5vw 5vh;
  max-width: 1200px;
  margin: 0 auto;
}

.registrace h2 {
  text-align: center;
  font-family: "newtown", sans-serif;
  margin: 1vh 0 3vh 0;
  letter-spacing: 0.14rem;
  font-size: 23px;
}

.registrace label {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.registrace input,
.registrace select {
  margin: 5px auto;
  width: 90vw;
  height: 30px;
  text-align: center;
  font-size: 20px;
}

.registrace input option,
.registrace select option {
  text-align: center;
}

.registrace .notes {
  height: 60px;
  text-align: left;
  font-size: 15px;
}

.registrace .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.registrace .buttonWrapper {
  width: 100%;
  text-align: center;
}

.registrace .buttonWrapper button {
  height: 50px;
  width: 50vw;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
          box-shadow: 4px 3px 5px 1px #000;
  margin: 15px;
  color: #e1251b;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 16px;
  background-color: #f8f8ff;
  text-transform: uppercase;
}

.registrace p {
  margin-bottom: 3vh;
  text-align: center;
  margin-top: 1vh;
}

.registrace .last-p {
  margin-bottom: 10px;
  margin-top: 3vh;
}

.home {
  max-width: 1200px;
}

.home .home-one {
  height: 80vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.99)), to(rgba(255, 255, 255, 0.1))), url("../images/gb-all.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.1)), url("../images/gb-all.jpg");
  background-repeat: no-repeat;
  background-position-y: 12vh;
  background-size: 85vh;
  background-position-x: -35vw;
}

@media (min-width: 530px) {
  .home .home-one {
    background-size: 100vw;
    background-position-x: 0;
    background-position-y: 25vh;
  }
}

@media (min-width: 700px) {
  .home .home-one {
    background-position-y: 12vh;
  }
}

@media (min-width: 1000px) {
  .home .home-one {
    background-position-y: 0;
  }
}

.home .home-one .home-one-covid {
  height: 15vh;
  width: 100vw;
  color: #e1251b;
  position: relative;
  top: 18vh;
  left: -5vw;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
  box-shadow: 4px 3px 5px 1px #000;
}

.home .home-one .home-one-covid p {
  padding-top: 30px;
  font-size: 14px;
  width: 90%;
  font-weight: 550;
  position: relative;
  left: 10vw;
  font-family: monospace;
  letter-spacing: 0.05rem;
}

.home .home-one .home-one-header {
  letter-spacing: 0.1rem;
  font-family: "newtown", sans-serif;
  width: 100vw;
  position: relative;
  top: 15vw;
}

.home .home-one .home-one-header .first-header {
  font-size: 15px;
  max-width: 70%;
  position: relative;
  left: 10vw;
  top: -2vh;
}

.home .home-one .home-one-header .second-header {
  font-size: 15px;
  max-width: 70%;
  position: relative;
  left: 30vw;
  top: 1vh;
}

.home .home-one .home-large-screen {
  display: none;
}

.home .home-one .home-one-contact {
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
  background-color: #3b8beb;
  color: white;
  text-align: center;
  position: relative;
  top: 50vh;
  font-size: 15px;
}

.home .home-one .home-one-contact .home-one-contact-media {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.home .home-one .home-one-contact .home-one-contact-media a {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 45px;
  width: 45px;
}

.home .home-one .home-one-contact .home-one-contact-media a:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.home .home-one .home-one-contact .home-one-contact-media a img {
  height: 40px;
  width: 40px;
}

.home .home-one .home-one-contact p {
  font-family: monospace;
  font-size: 12px;
  margin-top: 4px;
}

.home .home-one .home-one-contact p .home-contact-bold {
  font-weight: 600;
  font-size: 16px;
}

.home .home-two {
  min-height: 60vh;
  width: 100%;
  padding-bottom: 20px;
  background-color: #f8f8ff;
}

.home .home-two .home-two-header {
  padding-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 19px;
  font-family: monospace;
}

.home .home-two .home-form {
  margin-top: 10px;
  padding: 0 5vw;
  font-family: monospace;
}

.home .home-two .home-form label {
  display: block;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.09rem;
}

.home .home-two .home-form input,
.home .home-two .home-form select {
  margin: 5px auto;
  width: 90vw;
  height: 30px;
  text-align: center;
  font-size: 20px;
}

.home .home-two .home-form input option,
.home .home-two .home-form select option {
  text-align: center;
}

.home .home-two .home-form .notes {
  height: 60px;
  text-align: left;
  font-size: 15px;
}

.home .home-two .home-form .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.home .home-two .home-form .buttonWrapper {
  width: 100%;
  text-align: center;
}

.home .home-two .home-form .buttonWrapper button {
  height: 50px;
  width: 50vw;
  margin: 15px;
  color: black;
  background-color: #3b8beb;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
          box-shadow: 4px 3px 5px 1px #000;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-transform: uppercase;
}

.home .home-three {
  height: 70vh;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.home .home-three h2 {
  margin: 1vh 0;
  width: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-family: "newtown", sans-serif;
  font-size: 20px;
  margin: 3vh 0;
}

.home .home-three h2:first-of-type {
  padding-top: 5vh;
  width: 100%;
  letter-spacing: 0.05rem;
  margin: 0;
}

.home .home-three p {
  width: 100%;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 4vh 0 3vh 0;
}

.home .home-three button {
  height: 50px;
  width: 50vw;
  margin: 15px;
  background-color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "newtown", sans-serif;
  letter-spacing: 0.1rem;
  -webkit-box-shadow: 4px 3px 5px 1px #000;
          box-shadow: 4px 3px 5px 1px #000;
  font-size: 16px;
  text-transform: uppercase;
}

.home .home-three button a {
  color: #e1251b;
  text-decoration: none;
}

.home .home-four {
  margin: 0 auto;
  min-height: 60vh;
  width: 80vw;
  background-size: 70vh;
  background-repeat: none;
  text-align: center;
  padding-bottom: 3vh;
}

.home .home-four h2 {
  width: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-family: "newtown", sans-serif;
  font-size: 20px;
  margin: 3vh 0;
  line-height: 35px;
}

.home .home-four p {
  width: 100%;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 4vh auto 3vh auto;
}

.home .home-four .img-container {
  width: 80vw;
  height: 50vh;
  overflow: hidden;
  margin: 0 auto;
}

.home .home-four .img-container .img1 {
  -webkit-transform: scale(2, 1.6);
          transform: scale(2, 1.6);
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1.5, 1.3);
          transform: scale(1.5, 1.3);
  position: relative;
  left: -70px;
  top: -25px;
}

.home .home-four .img-container .img3 {
  height: 100%;
  width: 100%;
  position: relative;
  left: -70px;
  top: 48px;
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  left: -63px;
}

.contact {
  width: 100vw;
  padding-top: 2vh;
  font-family: monospace;
  max-width: 1200px;
  margin: 0 auto;
}

.contact .contact-main {
  width: 90vw;
  margin: 0 auto;
  max-width: 400px;
}

.contact .contact-main h2 {
  width: 100%;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "newtown", sans-serif;
  font-size: 20px;
  margin: 3vh 0;
  line-height: 35px;
}

.contact .gym-contacts {
  padding: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3vh;
}

.contact .gym-contacts .single-contact {
  width: 90vw;
  margin: 2vh auto;
  max-width: 360px;
}

.contact .gym-contacts .single-contact h3 {
  text-align: center;
  margin: 1vh;
}

.contact .gym-contacts .single-contact p .bold {
  font-weight: 600;
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #f8f8ff;
  font-family: monospace;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .home-one-contact-media {
  padding-top: 5px;
}

.footer .webmaster {
  padding-bottom: 10px;
  letter-spacing: 0.02rem;
  font-size: 8px;
}

.footer .webmaster a {
  color: #e1251b;
}

@media (min-width: 769px) {
  .navbar {
    height: 165px;
  }
  .navbar .burger {
    display: none;
  }
  .navbar .nav {
    width: 100vw;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
  }
  .navbar .nav img {
    width: 100vw;
    max-width: 1200px;
    height: 140px;
  }
  .navbar .nav ul {
    height: 4vh;
    padding-top: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e1251b;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar .nav ul li {
    list-style-type: none;
    display: inline;
  }
  .navbar .nav ul li a {
    color: white;
    font-size: 21px;
    text-decoration: none;
    padding: 8px 22px;
    width: 100%;
  }
  .navbar .nav ul li a:hover {
    text-decoration: underline;
  }
  .kurzy,
  .pobocky-view {
    position: relative;
    top: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .kurzy .single-kurz,
  .kurzy .single-pobocka,
  .pobocky-view .single-kurz,
  .pobocky-view .single-pobocka {
    width: 40%;
    padding-top: 3vh;
    background-color: white !important;
  }
  .kurzy .single-kurz button,
  .kurzy .single-pobocka button,
  .pobocky-view .single-kurz button,
  .pobocky-view .single-pobocka button {
    width: 50%;
  }
  .kurzy div:last-of-type,
  .pobocky-view div:last-of-type {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .sport-details {
    max-width: 1200px;
    padding: 0;
    margin: 3vh auto 0 auto;
  }
  .sport-details .ready-slider {
    margin-top: 0;
  }
  .sport-details .ps {
    padding: 0 10px;
  }
  .registrace {
    padding-top: 5vh;
  }
  .registrace form {
    text-align: center;
  }
  .registrace form .form-error {
    margin-left: auto;
    margin-right: auto;
  }
  .registrace form input,
  .registrace form select,
  .registrace form p {
    width: 70vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    max-width: 1200px;
    margin: 0 auto;
  }
  .home .home-one {
    max-width: 1200px;
    margin: 0 auto;
    background-image: none;
    height: 64vh;
  }
  .home .home-one .home-large-screen {
    display: block;
    width: 100%;
    max-width: 1200px;
  }
  .home .home-one .home-one-covid {
    display: none;
  }
  .home .home-one .home-one-contact {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f8ff;
    top: -11vh;
    color: black;
  }
  .home .home-one .home-one-contact .home-one-contact-media {
    max-width: 1200px;
    margin: 1vh auto 0 auto;
  }
  .home .home-two .home-form {
    text-align: center;
  }
  .home .home-two .home-form input,
  .home .home-two .home-form select {
    width: 70vw;
    max-width: 600px;
  }
  .home .home-two .home-form .buttonWrapper button {
    background-color: #f8f8f8;
    width: 400px;
  }
  .home .home-three {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 50vh;
  }
  .home .home-three p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-three button {
    width: 400px;
  }
  .home .home-four {
    max-width: 1200px;
    margin: 0 auto;
  }
  .home .home-four p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-four .img-container {
    max-width: 1200px;
  }
  .home .home-four .img-container img {
    width: 80%;
  }
  .chci-zacit .buttonWrapper button {
    width: 400px;
  }
  .pobocka-details {
    padding-top: 2vh;
  }
  .pobocka-details .pobocka-header h1 {
    font-size: 30px;
  }
  .o-nas .vinicius h2 {
    text-align: center;
    margin: 5vh auto;
  }
  .o-nas .vinicius h3 {
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  .o-nas .vinicius .small {
    display: none;
  }
  .o-nas .vinicius .large {
    display: block;
  }
}
/*# sourceMappingURL=App.css.map */